{% extends 'base.html' %}
{% load static %}
{% block corpo %}
<div class="container py-4 fillView d-flex">
    <form action="{% url 'feedDeDados:cadastraFeed' %}" method="POST" class="mx-auto pb-4 carterOne form">
        <label class="">Nome do Arquivo:</label>
        <div class="form-inline mb-2">
            {{form.nomeArquivo}}
            <button type="submit" class="btn btn-primary px-3">
                {% csrf_token %}
                <i class="fas fa-plus-circle mr-2"></i> Cadastrar
            </button>
        </div>
        <div class="text-warning">{{form.nomeArquivo.errors}}</div>
    </form>
</div>
{% endblock %}