{% extends 'base.html' %}
{% load static %}
{% block corpo %}
<div class="container py-4 fillView">
    <h4><a href="{% url 'feedDeDados:cadastraFeed' %}" type="button" class="mx-2 text-success"><i class="fas fa-plus-circle mr-1 "></i><strong
                class='text-dark'>Novo Arquivo</strong></a></h4>
    <div class="d-flex">
        <form action="{% url 'feedDeDados:selecionaFeed' %}" method="GET" class="mx-auto pb-4 carterOne form">
            <label class="">Escolha um arquivo cadastrado:</label>
            <div class="form-inline mb-2">
                {{form.nome}}
                <button type="submit" class="btn btn-primary px-3">
                    {% csrf_token %}
                    <i class="fas fa-database mr-2"></i> Carregar
                </button>
            </div>
            <div class="text-warning">{{form.nome.errors}}</div>
        </form>
        {{feedSelecionado}}
    </div>
</div>
{% endblock %}