@font-face{
    font-family: CarterOne;
    src: url(../webfonts/CarterOne-Regular.ttf);
}

@font-face{
    font-family: Roboto;
    src: url(../webfonts/Roboto-Regular.ttf);
}

.carterOne{
    font-family: CarterOne;
}

.roboto{
    font-family: Roboto;
}

.fillView{
    min-height: calc(100vh - 92.8px - 56px);
}

.cardFonteDeDados{
    max-width: 600px;
}

.fixed-top{
    top:85px
}

.toast{
    max-width: 390px;
}

td{
    vertical-align: middle !important;
    text-align: center !important;   
}    

.d-grid{
    display: grid;
}

.mb-neg10{
    margin-bottom: -10px !important;
}

.fontLogo{
    font-size: 24px;
}

