{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock %}
{% block corpo %}
    <div class="modal fade" id="historicoAluno" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h3 class="modal-title carterOne">Histórico do Aluno</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body pt-0"> 
                    <table class="table w-auto table-hover mx-auto">
                        <thead>
                            <tr>
                            <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Disciplina</h4></th>
                            <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Carga Horária</h4></th>
                            <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Nota</h4></th>
                            <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Status</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for disciplina in disciplinas %}
                            <tr>
                                <td class="h5">{{disciplina.aluno.matricula}}</td>
                                <td class="h5">{{disciplina.disciplina.cargaHoraria}}</td>
                                <td class="h5">{{disciplina.nota}}</td>
                                {% if disciplina.nota < 60 %}
                                    <td class="text-danger h5">Reprovado</td>
                                {% else %}
                                    <td class="text-success h5">Aprovado</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}