{% extends 'base.html' %}
{% load static %}
{% block corpo %}
<div class="container py-4 fillView ">
    {% if messages %}
        {% for mensagem in messages %}
            <div class="alert alert-warning alert-dismissible fade show mb-2" role="alert">
                <strong>{{mensagem}}</strong>
                <button type="button" class="ml-4 mb-1 close my-auto" data-dismiss="alert" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-center">
        <h3 class="d-inline-block carterOne">Rendimento dos Alunos</h3>
    </div>
    <table class="table w-auto table-hover mx-auto"><!-- Responsividade em small(overflow) -->
        <thead>
            <tr>
              <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Matrícula</h4></th>
              <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Cr</h4></th>
              <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Aprovações</h4></th>
              <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Reprovações</h4></th>
              <th scope="col" class="border-top-0"></th>
            </tr>
        </thead>
        <tbody>
        {% for row in alunos %}
            <tr>
                <td class="h5">{{row.aluno.matricula}}</td>
                <td class="h5">{{row.cr}}</td>
                <td class="h5 text-success">{{row.aluno.getAprovacoes}}</td>
                <td class="text-danger h5">{{row.aluno.getReprovacoes}}</td>
                <td><button type="button" class="btn btn-primary px-3 modalOpen" data-url="{% url 'aluno:exibeHistorico' matricula=row.aluno.matricula %}">
                    <i class="fas fa-user-graduate mr-2"></i> Histórico
                </button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <div id="modalHistorico"></div>
    </div>
</div>
{% endblock %}