{% extends 'base.html' %}
{% load static %}
{% block corpo %}
<div class="container py-4 fillView ">
    {% if messages %}
        {% for mensagem in messages %}
            <div class="alert alert-warning alert-dismissible fade show mb-2" role="alert">
                <strong>{{mensagem}}</strong>
                <button type="button" class="ml-4 mb-1 close my-auto" data-dismiss="alert" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-center">
        <h3 class="d-inline-block carterOne">Rendimento dos Alunos</h3>
    </div>
    <div class="table-responsive"> <!-- Responsividade em small(overflow) -->
        <table class="table w-auto table-hover mx-auto">
            <thead>
                <tr>
                <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Matrícula</h4></th>
                <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Cr</h4></th>
                <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Aprovações</h4></th>
                <th scope="col" class="border-top-0"><h4 class="font-weight-bold m-0 mx-1 text-center">Reprovações</h4></th>
                <th scope="col" class="border-top-0"></th>
                </tr>
            </thead>
            <tbody>
            {% for aluno in alunos %}
                <tr>
                    <td class="h5">{{aluno.aluno.matricula}}</td>
                    <td class="h5">{{aluno.cr}}</td>
                    <td class="h5 text-success">{{aluno.aprovacoes}}</td>
                    <td class="text-danger h5">{{aluno.reprovacoes}}</td>
                    <td><button type="button" class="btn btn-primary px-3 modalOpen" data-url="{% url 'aluno:exibeHistorico' matricula=aluno.aluno.matricula %}">
                        <i class="fas fa-user-graduate mr-2"></i> Histórico
                    </button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <div id="modalHistorico"></div>
    </div>
</div>
{% endblock %}