{% extends 'base.html' %}
{% load static %}
{% block corpo %}

<div class="container py-4 fillView d-flex">
	<div class="align-content-center flex-column w-75 text-center mx-auto align-self-center ">
		<h1 class="carterOne">Escolha o Feed de Dados inicial</h1>
		{% if nDisciplinas != 0 or nAlunos != 0 %}
		<p class="lead text-muted">Utilize o Banco de Dados gerado na última sessão ou então gere um novo carregando um
			arquivo CSV.
		</p>
		{% else %}
		<p class="lead text-muted">Nenhum dado foi encontrado no Banco de Dados, carregue um arquivo CSV para alimentar
			o BD.
		</p>
		{% endif %}
		<div class="carterOne justify-content-center mb-3">
			{% if nDisciplinas != 0 or nAlunos != 0 %}
			<button onclick="location.href='{% url 'index2'%}'" class="btn btn-primary text-white mr-3">Utilizar
				Atual</button>
			{% endif %}
			<button onclick="location.href='{% url 'index2'%}'" class="btn btn-secondary">Carregar Novo</button>
		</div>

	</div>
	<div class="toast fixed-top mr-3 ml-auto  carterOne" role="alert" aria-live="assertive" aria-atomic="true"
		data-delay="4000" data-autohide="false">
		<div class="toast-header py-2">
			<h3 class="mr-auto my-auto text-secondary">Bando de Dados Atual</h3>
			<button type="button" class="ml-4 mb-1 close my-auto" data-dismiss="toast" aria-label="Close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<h5 class="toast-body">
			{% if nDisciplinas != 0 or nAlunos != 0 %}
			<p class="mb-2 font-weight-bold text-center">{{nAlunos}} alunos cadastrados</p>
			<p class="mb-2 font-weight-bold text-center">{{nDisciplinas}} disciplinas cadastradas</p>
			{% endif %}
		</h5>
	</div>

</div>
{% endblock %}